body {
  font-family: "Inter", sans-serif;
}
#mobile-menu {
  transition: transform 0.3s ease-in-out;
}
main::-webkit-scrollbar {
  width: 6px;
}
main::-webkit-scrollbar-track {
  background: #f1f5f9;
}
main::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 3px;
}
main::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
