body {
  font-family: "Inter", sans-serif;
  background: #111827;
}

#error-box {
  display: none;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #4f1a1a;
  color: #f8b4b4;
  border: 1px solid #ef4444;
}
